body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

header {
  max-width: 100%;
  height: 70px;
  background-color: black;
  padding: 4px 30px;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 180px;
  background-color: black;
  margin-top: auto;
  margin-bottom: 0;
}

footer p {
  color: white;
  text-align: center;
  line-height: 165px;
  font-size: 13px;
}

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}

.d-none {
  display: none!important;
}

.left-header {
  display: flex;
}

.right-header-top {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
}

.header-icon {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin: 0 16px;
  padding: 4px;
}

.header-font {
  color: white;
  font-size: 14px;
  line-height: 70px;
}

ul {
  list-style: none;
  padding: 15px;
}

ul li {
  font-size: 16px;
  padding: 10px 5px;
}

ul a {
  text-decoration: none;
  color: black;
}

#header-nav-menu {
  border: 3px solid #F6F8F9;
  z-index: 1000;
}

.header-nav-menu-none {
  display: none;
}